.version.index /* version checker */
{
	color: #000007;
	background-color: #55A7CC;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 438px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #123638;
	padding-bottom: 62px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#u97
{
	z-index: 2;
	height: 62px;
	background-color: #B6B5B8;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u97-bw
{
	z-index: 2;
	height: 62px;
}

#u122
{
	z-index: 3;
	background-color: transparent;
	position: fixed;
	top: 9px;
	left: 7px;
	width: 4.69%;
	max-width: 45px;
}

#u122_img
{
	width: 100%;
}

#u185-18
{
	z-index: 14;
	display: block;
	vertical-align: top;
	position: relative;
	margin-right: -10000px;
	margin-top: 68px;
	width: 93.65%;
	margin-left: 3.18%;
	left: -1px;
}

#u181-4
{
	z-index: 10;
	display: block;
	vertical-align: top;
	position: fixed;
	top: 2px;
	left: 58px;
	width: 30%;
	max-width: 288px;
}

#u161
{
	z-index: 5;
	border-width: 0px;
	border-color: transparent;
	background-color: #9B3958;
	border-radius: 97px;
	position: relative;
	margin-right: -10000px;
	margin-top: 427px;
	width: 52.09%;
	left: 23.34%;
}

#u109-4
{
	z-index: 6;
	position: relative;
	margin-right: -10000px;
	margin-top: 15px;
	width: 92.81%;
	left: 11.21%;
}

#u192-4
{
	z-index: 32;
	position: fixed;
	top: 0px;
	right: 20px;
	width: 32.3%;
	max-width: 310px;
}

#u109-4_img,#u192-4_img
{
	display: block;
	vertical-align: top;
	width: 100%;
}

.html
{
	background-color: #123638;
}

body
{
	position: relative;
	min-width: 320px;
}


