.version.partnerstwa /* version checker */
{
	color: #0000FB;
	background-color: #E355F1;
}

#muse_css_mq
{
	background-color: #FFFFFF;
}

#page
{
	z-index: 1;
	min-height: 499.95000000000005px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: #123638;
	padding-bottom: 0px;
	width: 100%;
	max-width: 960px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-top: -1px;
	padding-bottom: 62px;
	width: 100%;
}

#u283
{
	z-index: 2;
	min-height: 62px;
	background-color: #B6B5B8;
}

#u283_align_to_page
{
	margin-left: auto;
	margin-right: auto;
	position: relative;
	max-width: 960px;
}

#u281
{
	z-index: 7;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	margin-top: 10px;
	width: 4.69%;
	margin-left: 95.32%;
	left: -904px;
}

#u281_img
{
	width: 100%;
}

#u291-4
{
	z-index: 3;
	position: relative;
	width: 30%;
	left: -274px;
	margin: 3px -10000px -1px 35%;
}

.js body
{
	visibility: hidden;
}

.js body.initialized
{
	visibility: visible;
}

#u283-bw
{
	z-index: 2;
	min-height: 62px;
}

#u332-31
{
	z-index: 14;
	display: block;
	vertical-align: top;
	margin-top: 10px;
	position: relative;
	width: 89.28%;
	margin-left: 6.46%;
}

#u335
{
	z-index: 9;
	border-width: 0px;
	border-color: transparent;
	background-color: #9B3958;
	border-radius: 97px;
	padding-bottom: 7px;
	margin-top: 22px;
	position: relative;
	width: 29.48%;
	margin-left: 35.32%;
}

#u336-4
{
	z-index: 10;
	position: relative;
	margin-right: -10000px;
	margin-top: 8px;
	width: 74.92%;
	left: 14.85%;
}

#u291-4_img,#u336-4_img
{
	display: block;
	vertical-align: top;
	width: 100%;
}

.html
{
	background-color: #123638;
}

body
{
	position: relative;
	min-width: 320px;
}

